<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>

<body>
    <H1>Madlibs</H1>
    <form action="/story">
        {% for word in words %}
        <label name="{{word}}">{{word}}:</label>
        <input type="text" name="{{word}}"><br>
        <br>
        {% endfor %}
        <button type="submit">submit</button>
    </form>
</body>

</html>